/*--------------------------
Configurações globais
---------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e0e0e0;
    color: #2F4F4F;
}

h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
p{
    font-size: 15px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 600px){
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 17px;
    }
    p{
        font-size: 15px;
    }
}

.mobile-config{
    padding: 0px 15px;
}

/*--------------------------
Configurações do header
---------------------------*/
header{
    margin-top: 34px;
}

/*-------------------------------
Configurações do menu primário
--------------------------------*/
.container-nav{
    background-image: linear-gradient(45deg, #B0E0E6, #D8BFD8 );
}
#menu-primario{
    max-width: 400px;
    margin: -1px auto;
    padding: 0px;
    border-top: 1px solid transparent;
}
@media screen and (max-width:600px){
    #menu-primario{
        display: none;
    }
}

#menu-prmario ul{
    list-style: none;
}
#menu-primario ul li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
#menu-primario ul li a{
    padding: 8px 15px;
    color: black;
    display: inline-block;
}
#menu-primario ul li a:hover{
    background-color: #2F4F4F;
    color: white;
    transition: background .7s;
}

/*-------------------------------
Configurações do sub menu
--------------------------------*/

#menu-livros:hover #sub-menu-a{
    display: block;
}
#menu-primario ul li #sub-menu-a{
    display: none;
    position: absolute;
    margin: -1px 0px;
    background-color: #D8BFD8;
    min-width: 160px;
    padding: 0px 0px;
    z-index: 1;
}

#menu-artigos:hover #sub-menu-b{
    display: block;
}
#menu-primario ul li #sub-menu-b{
    display: none;
    position: absolute;
    margin: -1px 0px;
    background-color: #D8BFD8;
    min-width: 160px;
    padding: 0px 0px;
    z-index: 1;
}


/* Fortamata a galeria de imagens */
img {
    vertical-align: middle;
}
  
/* Position the image container (needed to position the left and right arrows) */
  .container {
    margin-top: 140px;
    position: relative;
}
  
/* Hide the images by default */
  .mySlides {
    max-width: 1024px;
    margin: auto;
    display: none;
}
  
/* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Six columns side by side */
  .column {
    float: left;
    width: 10%;
}
  
/* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}



/*-------------------------------
Configurações do menu mobile
--------------------------------*/
#menu-mobile{
    max-width: 400px;
    margin: 0 auto;
}

#menu-mobile button{
    background-color: transparent;
    border: none;
    width: 400px;
}

#menu-mobile button img{
    width: 15%;
}

@media screen and (min-width: 601px){
    #menu-mobile{
        display: none;
    }
}

.dropbtn {
    color: black;
    padding: 16px 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: ;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D8BFD8;
    border-radius: 0px 0px 10px 10px;
    min-width: 400px;
    left: 0%;
    overflow: auto;
    z-index: 1;
    text-align: center;
}
  
.dropdown-content a {
    color: black;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
      background-color: ;
}

.dropdown-content a::after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
  
.dropdown a:hover {background-color: ;}
  
.show {display: block;}

/*--------------------------------------
Configurações para o menu sumir/aparecer
---------------------------------------*/
#menu{
    background-color: ;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.5s;
}

/*--------------------------------------
Configurações dos informes/boas vindas
---------------------------------------*/
#informes{
    height: 400px;
    animation-name: muda-fundo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*
    background-image: url(https://i.pinimg.com/originals/1a/5b/02/1a5b02eb6ffde00d80856cd8419dc1ae.jpg);
    background-size: cover;
    background-position: center;
}
#informes:hover{
    background-image: url(https://img.travessa.com.br/livro/GR/fd/fd5cf9f2-d1a0-42cb-aa28-ba96e2472b12.jpg);
    background-size: contain;
    background-position: center;
    transition: background-image 1s; */
}
@keyframes muda-fundo {
    0%{background-image: url(https://ogimg.infoglobo.com.br/in/25164425-807-17b/FT1086A/760/04_marx-engels-family.jpg);
    background-position: top;
    background-size: cover;}
    50%{background-image: url(https://ogimg.infoglobo.com.br/in/25164425-807-17b/FT1086A/760/04_marx-engels-family.jpg);}

    51%{background-image: url(../img/9.JPG);
        background-position: center;
        background-size: cover;}
    100%{background-image: url(../img/9.JPG);
        background-position: center;
        background-size: cover;
    }

}

/*--------------------------------------
Configurações do container grande
---------------------------------------*/
#container-grande{
    max-width: 1024px;
    margin: -100px auto;
    padding: 15px;
    background-color: #e0e0e0;;
    border-radius: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:600px){
    #container-grande{
        padding: 15px 10px;
        margin: -80px auto;
    }
}


/*--------------------------------------
Configurações do player
---------------------------------------*/

/*--------------------------------------
Configurações do conteúdo principal >> section
---------------------------------------*/
section{
    margin: 0px 0px 0px 0px;
}

/*--------------------------------------
Configurações do conteúdo do article
---------------------------------------*/
article{
    display: flex;
    margin-bottom: 40px;
}
@media screen and (max-width:600px){
    article{
        display: block;
        margin-bottom: 60px;
    }
}

article .img-info{
    width: 20%;
    display: flex;
    place-content: center;
    place-items: center;
}
@media screen and (max-width:600px){
    article .img-info{
        width: 75%;
        margin: auto;
    }
}
article .img-info img{
    width: 100%;
    border-radius: 10px;
}

article .text-info{
    width: 80%;
    padding: 0px 0px 0px 20px;
}
@media screen and (max-width:600px){
    article .text-info{
        width: 100%;
        padding: 0px;
    }
}

article .text-info h1{
    text-align: center;
    margin-top: 10px;
}
article .text-info h1::after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0px;
}
article .text-info h2{
    color: chocolate;
    text-align: center;
    margin-bottom: 10px;
}
article .text-info p::after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0px;
}



--------------------------------------
Configurações da gallery
---------------------------------------
#gallery-container{
    margin: 130px 0px 0px 0px;
}
/*
#gallery{
    max-width: 1024px;
    margin: auto;
}

.row {
    display: -ms-flexbox; /* IE10
    display: flex;
    -ms-flex-wrap: wrap; /* IE10
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other
.column {
    -ms-flex: 25%; /* IE10
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}
*/


/*--------------------------------------
Configurações do footer
---------------------------------------*/
footer{
    background-color: #D8BFD8;
    border-bottom: solid 1px transparent;
    padding: 30px 0px;
    margin-top: 60px;
}
@media screen and (max-width:600px){
    footer{
        padding: 30px 15px;
    }
}
footer #footer-content-container{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1024px;
    margin: auto;
}
@media screen and (max-width:600px){
    footer #footer-content-container{
        display: block;
    }
}
footer #footer-content-container .footer-content{
    padding: 0px 10px 0px 10px;
    flex-basis: 350px;
    text-align: center;
}
@media screen and (max-width:600px){
    footer #footer-content-container .footer-content{
        padding: 0px 0px 30px 0px;
    }
}
footer #footer-content-container .footer-content h3{
    color: #2F4F4F;
    margin-bottom: 10px;
}
@media screen and (max-width:600px){
    footer #footer-content-container #contato::after{
        content: "";
        display: block;
        height: 1px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    footer #footer-content-container #parcerias::after{
        content: "";
        display: block;
        height: 1px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
footer #footer-content-container #parcerias a{
    display: block;
    color: black;
    line-height: 1.5;
}
footer #footer-content-container #parcerias a:hover{
    background-color: #2F4F4F;
    color: white;
    transition: background-color .6s;
}